@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Righteous&display=swap');

body {
  align-items: center;
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-rows: auto auto 1fr;
  font-family: Montserrat, sans-serif;
  margin: 0;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}
.bingo-card {
  --size: calc(100vmax - 300px);
  align-self: start;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* height: var(--size);
  width: var(--size); */
}
.cell {
  border: none;
  cursor: pointer;
  padding: 0;
}
.cell-inner {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  text-align: center;
}
.cell img {
  background-color: #b0b0b0;
  height: auto;
  padding: 0 0.25em;
  width: calc(var(--size) / 5);
}
.cell .name {
  align-content: center;
  align-items: stretch;
  display: grid;
  padding: 0.25em;
}
.controls button {
  background-color: #936826;
  border: none;
  border-radius: 6px;
  color: #f4c52f;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.05em;
  font-weight: bold;
  padding: 0.25em 1em 0.375em;
}

[hidden] {
  display: none !important;
}
